.input-box{
  border-radius: 10px;
  height: 2.3vw;
  width: 80%;
  text-align: center;
  box-shadow: 0 .5vw 1vw rgba(39, 39, 39, 0.644);
  margin: 1.5vw;
}

.form .btn {
  margin: 1vw auto;
  padding: 1vw 3vw;
  background-color: #e4e4e4;
  color: rgb(63, 63, 63);
  border: none;
  outline: none;
  font-size: 1.2vw;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 1vw 1.2vw #a8a8a8;
  transition: box-shadow 0.5;
}

.form .btn:hover {
  box-shadow: 0px .5vw .5vw #aaa;
}

.form {
  display: flex;
  flex-direction: safe;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  width: 50vw;
  position: absolute;   
  font-size: 1.5vw;
}

.form-text{
  top: -350px;
  font-size: 70px;
  text-align: center;
  margin: 60px auto 0px;
  font-weight: 700;
  font-family: Righteous;
  color: white;
  max-width: 1150px;
  text-shadow: -1px 0 0px #ddd, 0 1px 0px #ccc, -2px 1px 0px #ccc, -1px 2px 0px #ccc, -3px 2px 0px #ccc, -2px 3px 0px #ccc, -4px 3px 0px #ccc, -3px 4px 0px #ccc, -5px 4px 0px #ccc, -4px 5px 0px #ccc, -6px 5px 0px #ccc, -5px 6px 15px #777;
  display: inline-block;
  position: relative;
  padding: 0px 6px; 
  transition: 0.8s;
  transform: rotateX( 0deg ) rotateY( 0deg ) rotateZ( 0deg );
  }

.form input {
  width: 20vw;
  display: block;
  margin: 1vw;
  padding: 1vw 1vw;
  background-color: #e4e4e4;
  font-size: 1.5vw;
  border: none;
  outline: none;
  box-shadow: 0px .5vw 1vw #a8a8a8;
  transition: box-shadow 0.5;
}

.form input:focus {
  box-shadow: 0px .2vw 1vw #1d1d1d;
}

.signup-card{
  position: absolute; 
  display: flex;
  justify-content: center; 
  background-color: #e4e4e4;
  width: 35%;
  height: 90%;
  top: 1.7vw;
  box-shadow: 0 .2vw 1vw rgba(39, 39, 39, 0.644);
  padding: .5vw;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  margin : 0 auto
}

.submit-btn {
  position: relative;
  margin: 1vw auto;
  padding: 1vw 3vw;
  background-color: #e4e4e4;
  color: rgb(63, 63, 63);
  bottom: -30vh;
  border: none;
  outline: none;
  font-size: 1.2vw;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 1vw 1.2vw #a8a8a8;
  transition: box-shadow 0.5;
}

.submit-btn:hover {
  box-shadow: 0px .5vw .5vw #aaa;
  font-size: 1.18vw;
}

.file-select{
  position: absolute;
  bottom: 200px;
}

.profile-img {
  position: absolute;
  right: 8vw;
  width: 20vw;
  height: 20vw;
  background: #3f3f3f00;
  top: 70px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.area {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

.profile-img img {
  max-height: 100%;
  max-width: 100%;
}

.profile-img:hover{
  background-color:#000;
  opacity:0.5;
}

.image-mask{
  position: absolute;
  right: 8vw;
  width: 20vw;
  height: 20vw;
  background: #3f3f3f00;
  top: 70px;
  line-height: 20vw;
  text-align: center;
  color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  z-index: 1000;
  transition: 0.5s;
}

.image-mask:hover{
  background-color:rgb(158, 158, 158);
  opacity:0.5;
  color: #000;
  
}

.crop-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 450px;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  height: 80px;
  display: flex;
  align-items: center;
}

.slider {
  top: -350px;
  padding: 22px 0px;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

h2 {
  font-size: 2vw;
  position: relative;
  bottom: -25vh;
  text-shadow: -.1vw .25vw .25vw #aaaaaad5,
               .1vw -.25vw .25vw #eeeeeec7;
}