.right-container {
  position: absolute;
  display: block;
  top: 90px;  
  right: 0px;  
  background-color: #e4e4e4;
  height: 83%;
  width: 20%;
  text-align: center;
  align-content: center;
  align-items: center;
  box-shadow: .3vw .3vw 1vw rgba(51, 51, 51, 0.644);
  padding: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  outline: none;
  overflow: hidden;
}

.friend-container {
  position: absolute;
  display: block;
  top: 80px;    
  background-color: #e4e4e400;
  height: 85%;
  width: 94%;
  text-align: center;
  align-content: center;
  align-items: center;
  font-size: .7vw;
  color: black;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.list-img {
  display: block;
  width: 7vw;
  height: 7vw;
  background: #3f3f3f;
  text-align: center;
  align-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}