.right-container {
  position: absolute;
  display: block;
  top: 90px;  
  right: 0px;  
  background-color: #e4e4e4;
  height: 83%;
  width: 20%;
  text-align: center;
  align-content: center;
  align-items: center;
  box-shadow:  -1vw 1vw 2vw #552020,
                1vw -1vw 2vw #953838,
                inset .05vw -.2vw .2vw #b8b8b8,
                inset -.05vw .2vw .2vw #fbfbfb;
  padding: .5vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  outline: none;
  overflow: hidden;
}

.friend-container {
  position: absolute;
  display: block;
  top: 10%;    
  background-color: #e4e4e400;
  height: 85%;
  width: 88%;
  text-align: center;
  align-content: center;
  align-items: center;
  font-size: .7vw;
  color: black;
  padding: .7vw;
  border-radius: 10px;
  border: none;
  outline: none;
  overflow-y: scroll;
  direction: rtl;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  background: linear-gradient(225deg, #cfcfcf, #e4e4e4);
  box-shadow: inset -.05vw .2vw .3vw #c7c7c7,
              inset .05vw -.2vw .3vw #ebebeb,
              .15vw -.05vw .2vw #c7c7c7,
              -.15vw .05vw .2vw #ebebeb;
}

.list-img {
  position: absolute;
  width: 7vw;
  height: 7vw;
  top: 50%; 
  left: 50%;
  text-align: center;
  align-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  box-shadow: .3vh -.3vh .6vh #5050504d,
              -.3vh .3vh .6vh #e0e0e03d;
}

.listImg-inner {
  position: absolute;
  width: 7vw;
  height: 7vw;
  background: transparent;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset -.3vh .3vh .6vh #2929294d,
              inset .3vh -.3vh .6vh #cfcfcf3d; 
  z-index: 100;
  cursor: pointer; 
}

.listImg-outer {
  position: relative;
  display: block;
  width: 8.5vw;
  height: 8.5vw;
  background: transparent;
  text-align: center;
  align-content: center;
  align-items: center;
  margin-left: 50%;
  margin-right: auto;
  margin-top: 6vmax;
  margin-bottom: -3vmax;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: .2s; 
  box-shadow: inset .3vw -.3vw .3vw #5050504d,
              inset -.3vw .3vw .3vw #e0e0e04d,
              -.3vw .3vw .6vw #ffffff3d,
              .3vw -.3vw .6vw #c0c0c03d;  
}



.listImg-outer--transparent {  
  background: transparent;
}

.listImg-inner--transparent {  
  background: transparent;
}

.listImg-outer--transparent {  
  background: transparent;
}

.friend {
  background-color: transparent;
}

.request {
  background-color: #5387e7;
}

.listImg-outer:hover{
  background-color: #ac3737e1;
  
}

.listImg-outer--selected {
  position: relative;
  display: block;
  width: 8.5vw;
  height: 8.5vw;
  background-color: #ac3737e1;
  text-align: center;
  align-content: center;
  align-items: center;
  margin-left: 50%;
  margin-right: auto;
  margin-top: 6vmax;
  margin-bottom: -3vmax;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: .2s; 
  box-shadow: inset .3vw -.3vw .3vw #5050504d,
              inset -.3vw .3vw .3vw #e0e0e04d,
              -.3vw .3vw .6vw #ffffff3d,
              .3vw -.3vw .6vw #c0c0c03d;
}

.img {
  position: absolute;
  width: 25vh;
  height: 25vh;
  background: #3f3f3f;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  top: 50%; 
  left: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  animation: fadeIn 2s;
  animation-fill-mode: forwards; 
  opacity: 0;
  box-shadow: 1vh -1vh 1vh #632525,
              -1vh 1vh 1vh #873333; 
}

.img-inner {
  position: absolute;
  width: 25vh;
  height: 25vh;
  background: #3d2c7500;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  animation: imageFadeDown 2s; 
  animation-fill-mode: forwards; 
  opacity: 0; 
  z-index: 100;
}

.img-outer {
  position: absolute;
  width: 30vh;
  height: 30vh;
  background: #752c2c;
  top: 24%; 
  left: 50%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: imageFadeUp 2s;
  animation-delay: .5s; 
  opacity: 0;
  animation-fill-mode: forwards;
  
}

.img--transparent {
  opacity: 0;
}

.datePickerBox-hidden{  
  width: 0; 
  height: 0;
}

.datePickerBox-active{
  display: flex;
  background-color: rgba(221, 221, 221, 0);
  width: 127%; 
  height: 100%;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
}

.search{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: .55vw 2vw;
  background-color: #e4e4e4;
  font-size: 1.1vw;
  border: none;
  outline: none;
  text-align: left;
  border-radius: 10px; 
  transition: 0.5s; 
  transition: box-shadow 0.5;
}

.search:focus {
  box-shadow: inset -.05vw .2vw .3vw #c7c7c7,
              inset .05vw -.2vw .3vw #ebebeb,
              .15vw -.05vw .2vw #c7c7c7,
              -.15vw .05vw .2vw #ebebeb;
}

.search:hover {
  box-shadow: inset -.05vw .2vw .3vw #c7c7c7,
              inset .05vw -.2vw .3vw #ebebeb,
              .15vw -.05vw .2vw #c7c7c7,
              -.15vw .05vw .2vw #ebebeb;
}

.recents {
  position: relative;
  display: flex;
  width: 50%;
  height: 107%;
  top: -3%;
  left: -1%;
  overflow-y: scroll;
  text-align: center;
  justify-content: center;
  align-items:center;
  
}

.katchupButton {
  position: flex;
  width: 11vw;
  height: 11vw;
  border-radius: 20px;
  font-family: Righteous;
  color: #d6d6d6;
  font-size: 2vw;
  transition: 0.8s;
  cursor: pointer;
  background-color: #b44545;
  box-shadow:  -.5vw .5vw 2vw #7a7a7a,
              .5vw -.5vw 2vw #ffffff,
             inset .5vw -.5vw .8vw #7a7a7a5d,
             inset -.5vw .5vw .8vw #ffffff5d;
  border: none;
}

.katchupButton:hover {  
  font-size: 2.01vw;
  color: #ffffff;
  box-shadow:  -.2vw .2vw 1vw #4b4b4b,
             .2vw -.2vw 1vw #ffffff,
             inset .5vw -.5vw .8vw #7a7a7a6d,
             inset -.5vw .5vw .8vw #ffffff6d;
}

.katchupButton:focus {
  font-size: 1.99vw;
  border: none;
  color: #ffffff;
  outline: none;
  cursor: default;
  box-shadow:  -3vw 3vw 6vw #a6a6a6,
             3vw -3vw 6vw #ffffff,
             inset .5vw -.5vw .8vw #7a7a7a6d,
             inset -.5vw .5vw .8vw #ffffff6d;
}

.acceptButton {
  position: absolute;
  background-color: #5387e7;
  right: 32vw;
  top: 10vw;
  border: none;
  height: 3.5vw;
  width: 3.5vw;
  color: #618fe6;
  border-radius: 10px;
  font-size: 2vw;
  cursor: pointer;
  opacity: 0;
  animation: fadeRight 1s ease-in-out; 
  animation-delay: .7s; 
  animation-fill-mode: forwards;
  transition: 0.8s;
  box-shadow:  -.2vw .2vw 1vw #471a1a,
              .2vw -.2vw 1vw #bd4545,
             inset .2vw -.2vw .5vw #7a7a7a5d,
             inset -.2vw .2vw .5vw #ffffff5d;
}

.acceptButton:hover{
  font-size: 2.01vw;
  color: #cecece;
  box-shadow:  -.09vw .09vw .5vw#471a1a,
              .09vw -.09vw .5vw #bd4545,
             inset .09vw -.09vw .1vw #7a7a7a00,
             inset -.09vw .09vw .1vw #ffffff5d;
}

.acceptButton:focus {
  font-size: 1.99vw;
  border: none;
  color: #cecece;
  outline: none;
  box-shadow:  -2vw 2vw 4vw #471a1a,
              2vw -2vw 4vw #bd4545,
             inset .2vw -.2vw .5vw #7a7a7a5d,
             inset -.2vw .2vw .5vw #ffffff5d;

}

.rejectButton {
  position: absolute;
  background-color: #b64c4c;
  left: 32vw;
  top: 10vw;
  border: none;
  height: 3.5vw;
  width: 3.5vw;
  border-radius: 10px;
  font-size: 2vw;
  color:  #b85858;
  cursor: pointer;
  opacity: 0;
  animation: fadeLeft 1s ease-in-out; 
  animation-delay: 1s; 
  animation-fill-mode: forwards; 
  transition: 0.8s;
  box-shadow:  -.2vw .2vw 1vw #471a1a,
              .2vw -.2vw 1vw  #bd4545,
             inset .2vw -.2vw .5vw #7a7a7a5d,
             inset -.2vw .2vw .5vw #ffffff5d;
}

.rejectButton:hover{
  font-size: 2.01vw;
  color: #cecece;
  box-shadow:  -.09vw .09vw .5vw #471a1a,
              .09vw -.09vw .5vw  #bd4545,
             inset .2vw -.2vw .4vw #7a7a7a5d,
             inset -.2vw .2vw .4vw #ffffff5d;
}

.rejectButton:focus {
  font-size: 1.99vw;
  border: none;
  color: #cecece;
  outline: none;
  box-shadow:  -2vw 2vw 4vw #471a1a,
              2vw -2vw 4vw  #bd4545,
             inset .2vw -.2vw .5vw #7a7a7a5d,
             inset -.2vw .2vw .5vw #ffffff5d;

}

.katchupCard{
  position: absolute;
  display: block;    
  background-color: #e4e4e4;
  height: 16vw;
  width: 48%;
  text-align: center; 
  align-content: center;   
  align-items: center;
  justify-content: center;
  padding: .5vw;
  border-radius: 10px;
  border: none;
  outline: none;  
  animation: fadeUpKatchup 1s;
  animation-delay: .3s; 
  opacity: 1;
  animation-fill-mode: forwards;   
  left: 50%;
  transform: translate(-50%);
  bottom: 7vh;
} 

.katchupCardSmall{
  position: absolute;
  display: block;    
  background-color: #e4e4e4;
  height: 80%;
  width: 48%;
  text-align: center; 
  align-content: center;   
  align-items: center;
  justify-content: center;
  padding: .5vw;
  border-radius: 10px;
  border: none;
  outline: none;  
  animation: fadeDownKatchup 1s;
  animation-delay: .5s; 
  animation-fill-mode: forwards;
  left: 50%;
  transform: translate(-50%);
  bottom: 7vh;   
}

.card{
  position: absolute;
  display: block;    
  background-color: #e4e4e4;
  height: 15.5vw;
  width: 48%;
  text-align: center; 
  align-content: center;   
  align-items: center;
  justify-content: center;
  padding: .5vw;
  border-radius: 10px;
  border: none;
  outline: none;  
  animation: fadeUp 1s;
  animation-delay: .3s; 
  opacity: 0;
  animation-fill-mode: forwards;   
  left: 50%;
  transform: translate(-50%);
} 

.cardInner {
  position: absolute;
  top: 3%;  
  left: 2%;  
  height: 88%;
  width: 94%;
  padding: .5vw;
  border-radius: 10px;
  border: none;
  outline: none;
  color: black;
  overflow-y: scroll;
  overflow-x: visible ;
  background: #e4e4e4;
  background: linear-gradient(225deg, #cfcfcf, #e4e4e4);
  animation: fadeDown .7s ease-in-out; 
  animation-delay: .5s; 
  animation-fill-mode: forwards; 
  overflow: hidden;  
}

.cardInner-right {
  position: absolute;
  display: flex;
  width: 50%;
  height: 100%;
  top: 0%;
  right: 0%;
  text-align: center;
  justify-content: center;
  align-items:center;  
}

h2{
  margin: 0px 0px 15px 0px; 
  padding: 0px 0px 0px 0px;
  font-size: 1.1vw;
  font-family: Helvetica;
}

@keyframes fadeUp {
  from {bottom: -100%; opacity: 0;}
  to {bottom: 7vh; box-shadow:  -1.5vw 1.5vw 3vw #552020,
                              1.5vw -1.5vw 3vw #953838,
                              inset .05vw -.2vw .2vw #b8b8b8,
                              inset -.05vw .2vw .2vw #fbfbfb; opacity: 1}
}

@keyframes fadeUpKatchup {
  from {height: 16vw;}
  to {height: 80%;
    box-shadow:  -1.5vw 1.5vw 3vw #552020,
    1.5vw -1.5vw 3vw #953838,
    inset .05vw -.2vw .2vw #b8b8b8,
    inset -.05vw .2vw .2vw #fbfbfb; }
}

@keyframes fadeDownKatchup {
  from {height: 80%;}
  to {height: 15vw;}
}

@keyframes fadeLeft {
  0% {left: 20vw;opacity: 0;}
  90% {left: 32.3vw}
  100% {left: 32vw; 
      opacity: 1}
}

@keyframes fadeRight {
  0% {right: 20vw;opacity: 0;}
  90% {right: 32.3vw}
  100% {right: 32vw; 
      opacity: 1}
}

@keyframes fadeDown { 
  from { 
    box-shadow: inset 0vw 0vw 0vw #c7c7c7,
                inset 0vw 0vw 0vw #ebebeb,
                0vw 0vw 0vw #c7c7c7,
                0vw 0vw 0vw #ebebeb;
  }
         
  to { 
    box-shadow: inset -.05vw .2vw .3vw #c7c7c7,
                   inset .05vw -.2vw .3vw #ebebeb,
                   .15vw -.1vw .5vw #c7c7c7,
                   -.15vw .1vw .3vw #ebebeb;
  }
}

@keyframes imageFadeUp {
  from {
    opacity: 0;
  }
  to {
    box-shadow: inset 1vh -1vh 1vh #632525,
                  inset -1vh 1vh 1vh #873333,
                   inset -1vh 1vh 2vh #551a1a4d,
                   inset 1vh -1vh 2vh #923d3d4d;  
    opacity: 1
  }
}

@keyframes imageFadeDown { 
  from {
    opacity: 0;
  }

  50%{
    opacity: 0
  }
         
  to { 
    box-shadow: inset -1vh 1vh 2vh #2917174d,
                inset 1vh -1vh 2vh #cf76763d;                      
    opacity: 1
  }
}

@keyframes fadeIn { 
  from { opacity: 0; }
  to { opacity: 1; }
}
