.input-box{
  border-radius: 10px;
  height: 2.3vw;
  width: 80%;
  text-align: center;
  box-shadow: 0 .5vw 1vw rgba(39, 39, 39, 0.644);
  margin: 1.5vw;
}

.form .btn {
  margin: 1vw auto;
  padding: 1vw 3vw;
  background-color: #e4e4e4;
  color: rgb(63, 63, 63);
  border: none;
  outline: none;
  font-size: 1.2vw;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 1vw 1.2vw #a8a8a8;
  transition: box-shadow 0.5;
}

.form .btn:hover {
  box-shadow: 0px .5vw .5vw #aaa;
}

.form {
  display: flex;
  flex-direction: safe;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  width: 50vw;
  position: absolute;   
  font-size: 1.5vw;
}

.form-text{
  top: -350px;
  font-size: 70px;
  text-align: center;
  margin: 60px auto 0px;
  font-weight: 700;
  font-family: Righteous;
  color: white;
  max-width: 1150px;
  text-shadow: -1px 0 0px #ddd, 0 1px 0px #ccc, -2px 1px 0px #ccc, -1px 2px 0px #ccc, -3px 2px 0px #ccc, -2px 3px 0px #ccc, -4px 3px 0px #ccc, -3px 4px 0px #ccc, -5px 4px 0px #ccc, -4px 5px 0px #ccc, -6px 5px 0px #ccc, -5px 6px 15px #777;
  display: inline-block;
  position: relative;
  padding: 0px 6px; 
  transition: 0.8s;
  transform: rotateX( 0deg ) rotateY( 0deg ) rotateZ( 0deg );
  }

.form input {
  width: 20vw;
  display: block;
  margin: 1vw;
  padding: 1vw 1vw;
  background-color: #e4e4e4;
  font-size: 1.5vw;
  border: none;
  outline: none;
  box-shadow: 0px .5vw 1vw #a8a8a8;
  transition: box-shadow 0.5;
}

.form input:focus {
  box-shadow: 0px .2vw 1vw #1d1d1d;
}

.login-card{
  position: absolute; 
  display: flex;
  justify-content: center; 
  background-color: #e4e4e4;
  width: 35%;
  height: 90%;
  top: 1.7vw;
  box-shadow: 0 .2vw 1vw rgba(39, 39, 39, 0.644);
  padding: .5vw;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  margin : 0 auto
}