.navbar {
  position: absolute;
  display: table;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #2a2a2a;
  height: 60px;
  border-bottom: 5px dashed rgb(212, 212, 212);
}

.middle {
  background-color: rgba(0, 0, 255, 0);
  display: table-cell;
  vertical-align: middle;
}

.button{  
  display: inline-flex;
  position: absolute;
  text-transform: uppercase;  
  background-color: #e4e4e400;
  color: #2a2a2a;
  border: none;
  outline: none;
  font-size: 1.5vw;
  font-weight: bolder;
  border-radius: 10px;
  text-shadow: -.08vw .1vw .15vw #000000b6,
               .08vw -.06vw .11vw #b6b6b696;
  transition: 0.5s;
  transition: text-shadow 0.5;
}

.button:hover {
  text-shadow: .08vw .06vw .12vw rgb(0, 0, 0);
  color: #c7c7c7;
}

.button-burger{
  position: relative;  
  top: 350px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.button-username{
  position: absolute;
  text-shadow: 0px 2px 12px rgb(0, 0, 0);
  color: #c7c7c7; 
  bottom: 22%;
  left: 70px;
}

.button-find{  
  bottom: 22%;
  left: 65vw;
}

.button-find:focus {
  text-shadow: .08vw .06vw .12vw rgb(0, 0, 0);
  color: #c7c7c7; 
  transition: 0s; 
}

.button-recents{
  bottom: 22%;
  right: 45vw;
}

.button-location{
  bottom: 22%;
  left: 26vw;
  max-width: 17ch; 
}

.button-location:focus {
  text-shadow: .08vw .06vw .12vw rgb(0, 0, 0);
  color: #c7c7c7; 
  transition: 0s; 
}

.menu-button{
  position: absolute;
  right: 5vw;
  transform: rotate(-180deg);
  color: #752c2c;
  text-shadow: -.08vw .1vw .15vw #180303b6,
               .08vw -.06vw .11vw #c54b4b96;
}

.logout{
  top: 250px;
}

.settings{
  top: 170px;
  right: 4.5vw;
}

.dark{
  top: 90px;
  right: 1.7vw;
}

.button-img{ 
    position: absolute;  
    left: 10px;
    top: 6px;
    width: 45px;
    height: 45px;
    background: #a53c3c;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.burger-menu{
  position: absolute;
  right: 10px;
  top: -350px;
  justify-content: center;
  text-align: center;
  background-color: #752c2c;
  border-radius: 10px;
  width: 17vw;
  height: 400px;
  box-shadow: .3vw .3vw 1vw rgba(51, 51, 51, 0.644);
  transform-origin: 50% 94.5%;
  transition: transform 0.7s ease-in-out;
  animation: bounceOut 0.7s ease-in-out;
  z-index: 1000;
}

.burger-menu--selected{
  position: absolute;
  right: 10px;
  top: -350px;
  justify-content: center;
  text-align: center;
  background-color: #752c2c;
  border-radius: 10px;
  width: 17vw;
  height: 400px;
  box-shadow: .3vw .3vw 1vw rgba(51, 51, 51, 0.644);
  transform-origin: 50% 94.5%;
  transition: transform 0.7s ease-in-out;
  animation: bounceOut 0.7s ease-in-out;
  z-index: 1000;
  transform: rotate(-180deg);
  transition: transform 0.5s ease-in-out;
  animation: bounceIn 0.7s ease-in-out;
}

.nav-location-box {
  position: absolute;
  bottom: 22%;
  right: 65vw;
}

.card {
  position: absolute;
  display: block;
  top: 20vh;  
  left: 25%;  
  background-color: #e4e4e4;
  height: 63vh;
  width: 50%;
  text-align: center; 
  align-content: center;   
  align-items: center;
  justify-content: center;
  padding: .5vw;
  border-radius: 10px;
  border: none;
  outline: none;
  animation: fadeUp .3s ease-in-out;
  animation-fill-mode: forwards;  
}

.cardInner {
  position: absolute;
  top: 3%;  
  left: 2%;  
  height: 91%;
  width: 94%;
  padding: .5vw;
  border-radius: 10px;
  border: none;
  outline: none;
  color: black;
  overflow-y: scroll;
  overflow-x: visible ;
  background: #e4e4e4;
  background: linear-gradient(225deg, #cfcfcf, #e4e4e4);
  animation: fadeDown .7s ease-in-out; 
  animation-delay: .1s; 
  animation-fill-mode: forwards;   
}

.user{
  display: inline-table;
  height: 10vw;
  width: 10vw;
  opacity: 0;
  padding-left: 1vmax;
  animation: fadeIn .5s ease-in-out;
  animation-delay: .9s; 
  animation-fill-mode: forwards;  
}

.list-img { 
  position: absolute; 
  width: 6vw;
  height: 6vw;
  left: 50%;
  top: 50%;
  background-color: #752c2c;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: .3vh -.3vh .6vh #5050504d,
              -.3vh .3vh .6vh #e0e0e03d;
}

.listImg-inner {
  position: absolute;
  width: 6vw;
  height: 6vw;
  background: transparent;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset -.3vh .3vh .6vh #2929294d,
              inset .3vh -.3vh .6vh #cfcfcf3d; 
  z-index: 100;
  cursor: pointer;     
}

.listImg-outer {
  position: relative;
  display: block;
  width: 7.5vw;
  height: 7.5vw;
  background: transparent;
  text-align: center;
  align-content: center;
  align-items: center;
  margin-top: 2vw;
  top: 25%;
  left: 25%;
  margin-left: 3vw;
  margin-top: 4vmax;
  margin-bottom: 1vmax;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: .2s; 
  transform: translate(-50%, -50%);
  box-shadow: inset .3vw -.3vw .3vw #5050504d,
              inset -.3vw .3vw .3vw #e0e0e04d,
              -.3vw .3vw .6vw #ffffff3d,
              .3vw -.3vw .6vw #c0c0c03d;
} 

.listImg-outer:hover{
  background-color: #ac3737e1;
  
}

h2{
  margin: 15px 0px 15px 0px; 
  padding: 0px 0px 0px 0px;
  font-size: 1.1vw;
  font-family: Helvetica;
}

@keyframes bounceIn { 
  from { transform: rotate(0deg) }
  75% { transform: rotate(-200deg) }
  90% { transform: rotate(-175deg) }
  to { transform: rotate(-180deg) }
}

@keyframes bounceOut { 
  from { transform: rotate(-360deg) }
  0% { transform: rotate(-180deg) }
  to { transform: rotate(-360deg) }
}
@keyframes fadeDown { 
  from { box-shadow: inset 0vw 0vw 0vw #c7c7c7,
                     inset 0vw 0vw 0vw #ebebeb,
                     0vw 0vw 0vw #c7c7c7,
                     0vw 0vw 0vw #ebebeb;
       }
         
  to { box-shadow: inset -.05vw .2vw .3vw #c7c7c7,
                   inset .05vw -.2vw .3vw #ebebeb,
                   .15vw -.2vw .5vw #c7c7c7,
                   -.15vw .2vw .5vw #ebebeb; }
}

@keyframes fadeUp { 
  from { box-shadow: 0px 0px 0px #552020,
                      0px 0px 0px #953838;
         opacity: 0; }
  50% { opacity: 1; } 
  to { box-shadow:  -1.5vw 1.5vw 3vw #552020,
                    1.5vw -1.5vw 3vw #953838,
                    inset .05vw -.2vw .2vw #b8b8b8,
                    inset -.05vw .2vw .2vw #fbfbfb }
}

@keyframes fadeIn { 
  from { opacity: 0; }
  to { opacity: 1; }
}

input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 0px #000 inset;
  -webkit-text-fill-color: white;
  transition: background-color 99999s ease-in-out 99999s;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0px 0px #000 inset;
  -webkit-text-fill-color: #2a2a2a;
  transition: background-color 99999s ease-in-out 99999s;
}

@keyframes cube-drop {
  from { transform: translateY(0) translateZ(-1px) }
  to { transform: translateY(153px) translateZ(-1px) }
}
