.navbar {
  position: absolute;
  display: table;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #2a2a2a;
  height: 60px;
  border-bottom: 5px dashed rgb(212, 212, 212);
}

.middle {
  background-color: rgba(0, 0, 255, 0);
  display: table-cell;
  vertical-align: middle;
}

.button{  
  display: inline-flex;
  position: relative;
  text-transform: uppercase;  
  background-color: #e4e4e400;
  color: #2a2a2a;
  border: none;
  outline: none;
  font-size: 1.5vw;
  font-weight: bolder;
  border-radius: 10px;
  text-shadow: -.08vw .1vw .15vw #000000b6,
               .08vw -.06vw .12vw #b6b6b696;
  transition: 0.5s;
  transition: text-shadow 0.5;
}

.button:hover {
  text-shadow: 0px 2px 12px rgb(0, 0, 0);
  color: #c7c7c7;
}

.button:focus {
  text-shadow: 0px 2px 12px rgb(0, 0, 0);
  color: #c7c7c7;
}

.button-logout{
  bottom: .35vw;
  right: -86%;
}

.button-username{
  text-shadow: 0px 2px 12px rgb(0, 0, 0);
  color: #c7c7c7; 
  bottom: .35vw;
  right: 5%;
}

.button-find{ 
  bottom: .35vw;
  right: -46%;
}

.button-recents{
  bottom: .35vw;  
  right: -15%;
}

.button-location{
  bottom: .35vw;
  right: 14%;
}

.button-img{ 
    position: relative;  
    left: 13px;
    top: 3px;
    width: 45px;
    height: 45px;
    background: #a53c3c;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}